<div class="container altura-minima bg-color pad">

  <h4 id="titulo">Consulta de Usuários</h4>

  <hr />
    <div class="row">
      <div class="col-7 col-md-6">
        <input type="text" class="form-control form-control-sm" placeholder="Entre com parte do nome do usuário"
          name="consulta" [(ngModel)]="nome" (keyup)="keyUp($event)">
      </div>
      <div class="col-auto">
         <button type="button" class="btn btn-primary btn-sm" (click)="page=0; consultar();">
          <i class="fa fa-search" aria-hidden="true"></i>
            Consultar
          </button>
      </div>
    </div>
  <hr />

  <div class="row">
    <div class="col-12">
      <button type="button" class="btn btn-primary btn-sm" (click)="novoUsuario()">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Novo Usuário
      </button>
    </div>
  </div>

  <div class="row top20" *ngIf="usuarios?.length == 0">
    <div class="col-12">
      <h5 id="titulo">Nenhum usuário encontrado</h5>
    </div>
  </div>


  <div class="tabela top20" *ngIf="usuarios?.length > 0">
    <p-table [value]="usuarios" [responsive]="true">
      <ng-template pTemplate="caption">
         Lista de Usuários
      </ng-template>
      <ng-template pTemplate="header">
          <tr>
              <th class="col-nome">Nome</th>
              <th class="col-email">Email</th>
              <th class="col-obs">Observação</th>
              <th class="col-op center">Opções</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-u >
          <tr>
              <td>{{ u.nome }}</td>
              <td>{{ u.email }}</td>
              <td>{{ u.obs }}</td>
              <td class="center">
                <button type="button" class="btn btn-sm btn-warning bt-edit" (click)="editarUsuario(u.id)"
                pTooltip="Editar usuário" tooltipPosition="left">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-sm btn-danger" (click)="excluirUsuario(u)"
                pTooltip="Excluir usuário" tooltipPosition="left">
                <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </td>
          </tr>
      </ng-template>
  </p-table>
  </div>
  <div class="paginador" *ngIf="totalRegistro > size">
    <p-paginator [rows]="size" totalRecords="totalRegistro" [rowsPerPageOptions]="[20,40,80]" (onPageChange)="paginate($event)"></p-paginator>
  </div>



<!-- fecha container -->
</div>

<div class="loadcss" *ngIf="load">
  <img src="assets/img/load3.gif"/>
</div>
