.pad {
  padding: 20px;
}
#titulo {
  font-weight: 300;
}
.btnOp {
  margin-right: 20px;
}
#lbPermissao {
  display: block;
}
.top20 {
  margin-top: 20px;
}
.tabela {
  width: 100%;
  overflow: auto;
}
.col-op {
  width: 120px;
}
.ar {
  text-align: right;
}
.al {
  text-align: left;
}
#crestantes {
  font-size: 12px;
}
#altsenha {
  margin-bottom: 20px;
}
#lbAltSenha {
  margin-right: 10px;
}
