.pad {
  padding: 30px;
}
#titulo {
  font-weight: 300;
}
.top20 {
  margin-top: 20px;
}
.tabela {
  width: 100%;
  overflow: auto;
}
.col-nome {
 width: 280px;
}
.col-tel {
  width: 250px;
}
.col-dt-ini {
  width: 100px;
}
.col-dt-fim {
  width: 100px;
}
.col-op {
  width: 100px;
}
.center {
  text-align: center;
}
.bt-edit {
  margin-right: 5px;
}
.paginador {
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .pad {
    padding: 5px;
  }
}
